@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100svh;
  font-size: 100%;
}

body {
  font-size: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(0.4);
}

.auth-page__container {
  width: 80%;
  min-width: 56.25rem;
  min-height: 41.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  column-gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.881);
}

.auth-page__sign-in {
  min-height: 80%;
  /* background-color: beige; */
  flex-grow: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-page__sign-up {
  min-height: 80%;
  /* background-color: aquamarine; */
  flex-grow: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-page__header {
  text-align: center;
  font-size: 1.8rem;
  color: #dc9c6c;
}

.auth-page__form {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color:lightcoral; */
  padding: 1rem;
  justify-content: center;
  row-gap: 2rem;
}

.auth-page__form label {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.507);
  letter-spacing: 1.2px;
}

.auth-page__form input {
  width: 100%;
  height: 2rem;
  padding-left: 0.8rem;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  /* background: rgba(0, 0, 0, 0.273); */
  color: #365642;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.347);
  margin-top: 0.3rem;
}

.auth-page__form input[type="submit"] {
  min-height: 3rem;
  margin-top: 2rem;
  padding-left: 0;
  font-size: 1.1rem;
  background-color: #dc9c6c;
  color: white;
}

.horizontal-line {
  border: 1px solid rgba(0, 0, 0, 0.068);
  min-height: 36rem;
}

@media screen and (max-width: 1200px) and (max-height: 800px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 60%;
  }

  .auth-page__container {
    flex-direction: column;
    min-width: 18.125rem;
    min-height: 80%;
    padding: 4rem 1rem;
    row-gap: 2rem;
  }

  .auth-page__sign-in {
    width: 100%;
    padding: 2rem 0;
  }

  .auth-page__sign-up {
    padding: 0;
    width: 100%;
    padding: 2rem 0;
  }

  .auth-page__form input {
    height: 3rem;
  }

  .auth-page__form label {
    font-size: 1rem;
  }

  .auth-page__form input[type="submit"] {
    min-height: 4rem;
    margin-top: 0rem;
  }

  .horizontal-line {
    border: 1px solid rgba(0, 0, 0, 0.068);
    width: 90%;
  }
}
